@import 'tailwindcss';

:root {
  --background: #0a0e12;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-amazon-ember);
  --font-mono: var(--font-amazon-ember-mono);
  --font-display: var(--font-russo-one);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-amazon-ember), sans-serif;
}
